<div class="row">
  <div class="col-md-12">
    <h2>{{ movie.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img
      src="{{ movie.coverImagePath }}"
      alt="{{ movie.title }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ movie.genre }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Rated: {{ movie.ageRating }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Critics Review: {{ movie.reviewRating }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>{{ movie.synopsis }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Edit Movie</button>
  </div>
</div>
