<div class="row">
  <div class="col-md-12">
    <h2>{{ movie.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img
      src="{{ movie.coverImagePath }}"
      alt="{{ movie.title }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ movie.genre }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Rated: {{ movie.ageRating }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Critics Review: {{ movie.reviewRating }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>{{ movie.synopsis }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="dropdown" appDropdown>
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Edit Movie
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="cursor: pointer" (click)="onEditMovie()"
          >Update Movie</a
        >
        <a
          class="dropdown-item"
          style="cursor: pointer"
          (click)="onRemoveMovie()"
          >Delete Movie</a
        >
      </div>
    </div>
  </div>
</div>
