<div class="row">
  <div class="col-md-12">
    <h2>Movie Title</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Genre</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Age Rating</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Review Rating</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Synopsis</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Edit Movie</button>
  </div>
</div>
